<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
    <title> Formularz transakcji</title>
</head>
<body>

<main class="main-content" layout:fragment="content">
<h1 class="text-center" th:text="${message}">

</h1>


<!--
    <label for="show-filters-checkbox" class="show-filters-checkbox">Filtry</label>
    <input type="checkbox" id="show-filters-checkbox">

    <form th:replace="fragments::transaction_filters_form">
-->
  <table class="table">
    <thead>
      <tr>
        <th class="table__header" style="width:2em">Data</th>
        <th class="table__header desktop">Kategoria</th>
        <th class="table__header mobile">Opis</th>
        <th class="table__header" style="width: 5em">Kwota</th>
        <th class="table__header desktop">Opis</th>
        <th class="table__header desktop">Kto</th>
      </tr>
    </thead>
      <tr class="js-clickable" th:each="transaction :${transactions}" data-url="${transaction.url}" th:object="${transaction}">
        <td class="table__data align-center" th:text="${transaction.shortDate}">data</td>
        <td class="table__data table__data--wrapped align-left">
            <span th:if="${transaction.description}" class="mobile" th:utext="${transaction.description} + '</br>'">
              Opis transackcji
            </span>
          <span class="mobile-category {{this.category.type}}" th:text="${transaction.category.name}">
                
          </span>
        </td>
        <td class="table__data currency" th:text="${transaction.amount}">100.00</td>
        <td class="table__data desktop" th:text="${transaction.description}">Opis transakcji</td>
        <td class="table__data align-center desktop"> Utworzył</td>
      </tr>
</table>
<!-- </main> -->


</main>
</body>
</html>