<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}" xmlns:th="www.thymeleaf.org">
<head>
    <title> Formularz transakcji</title>
</head>
<body>

<main class="main-content" layout:fragment="content">
 	<h2>Zamierzasz usunąć transakcję. Czy jesteś pewien?</h2>
    <form 
    	th:action="@{__${T(pl.jdomanski.k47.util.Mappings).TRANSACTION_DELETE}__(id=${transaction.id})}" 
    	method="post">
  		<input class="button" type="submit" value="Usuń"/>
    </form>
    
    <table class="table">
        <caption>Szczegóły transakcji</caption>
        <tr>
            <th class="table__header table__header--fixed">Id</th>
            <td class="table__data" th:text="${transaction.id}">Id</td>
        </tr>
        
        <tr>
            <th class="table__header table__header--fixed">Data</th>
            <td class="table__data" th:text="${transaction.shortDate}">2018-02-14</td>
        </tr>
        
        <tr>
            <th class="table__header table__header--fixed">Kategoria</th>
            <td class="table__data" th:text="${transaction.category.name}">Jedzenie</td>
        </tr>
        
        <tr>
            <th class="table__header table__header--fixed">Kwota</th>
            <td class="table__data" 
                th:text="${#numbers.formatDecimal(transaction.amount/100.0, 1, 'WHITESPACE', 2, 'COMMA')} + 'zł'">
                1500.0 zł
            </td>
        </tr>
        <tr>
            <th class="table__header table__header--fixed">Opis</th>
            <td class="table__data align-left" th:text="${transaction.description}">Zakupy w biedronce</td>
        </tr>
    </table>
    
    
</main>
</body>
</html>