<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
    <title>Lista kategorii</title>
</head>
<body>
    <main class="main-content" layout:fragment="content">
    <p th:if="${message}" th:text="${message}"></p>
<table class="table">
  <caption>Kategorie</caption>
  <tbody th:each="type: ${__${T(pl.jdomanski.k47.util.AttributeNames).CATEGORY_TYPES}__}" >
    <tr>
      <th class="table__header" colspan="3" th:text="${type.getPluralDescription()}">Wpływy</th>
    </tr>
  
  
    <tr th:each="category : ${__${T(pl.jdomanski.k47.util.AttributeNames).CATEGORIES_BY_TYPE}__.get(type)}">
      
      <td class="table__data" th:text="${category.name}">Jedzenie</td> 
      <td class="table__data" >
        <a href='#' th:href="@{__${T(pl.jdomanski.k47.util.Mappings).CATEGORY_VIEW}__(id=${category.id})}">Edytuj</a>
      </td>
      <td class="table__data" >
        <a href='#' th:href="@{__${T(pl.jdomanski.k47.util.Mappings).CATEGORY_DELETE}__(id=${category.id})}">Usuń</a>
      </td>
      
    </tr>

  </tbody>



</table>

<!-- <button class="input-name"> -->
  <a th:href="@{__${T(pl.jdomanski.k47.util.Mappings).CATEGORY_ADD}__}">Utwórz nową..</a>  
<!-- </button> -->
</main>
</body>
</html>