<!DOCTYPE html>
<html lang="pl">
  
  <head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>1K4,7</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet"> 
    <link rel="stylesheet" th:href="@{/style.css}"> 

  </head>
  
  <body>
    <div class="container">
      <header th:fragment="header" class="main-head">
        <h1 class="logo">
          <a href="/">1K47</a>
        </h1>
        <div class="nav-mobile"><a id="nav-toggle" href="#">&#x2261;</a> </div>
      </header>
      <!-- Main navigation         -->
      
      <nav th:fragment="navigation" class="main-nav">
        
        <ul>
          <li>
            <a th:href="@{__${T(pl.jdomanski.k47.util.Mappings).TRANSACTIONS_LIST}__}">
              Transakcje
            </a>
          </li>
          <li>
            <a th:href="@{__${T(pl.jdomanski.k47.util.Mappings).TRANSACTION_ADD}__}">
              Nowa
            </a>
          </li>
           <li>
            <a class="" href="/stats/">
              Statystyki
            </a>
          </li>
          <li>
          	<a th:href="@{__${T(pl.jdomanski.k47.util.Mappings).READING_LIST}__}">
          		Odczyty licznika
          	</a>
          </li>
          <li>
            <a class="" th:href="@{__${T(pl.jdomanski.k47.util.Mappings).CATEGORIES_LIST}__}">
              Kategorie
            </a>
          </li>
          <li>
            <hr><span sec:authentication="principal.firstName">Użytkownik</span>
          </li>
          <li>
            <a href="/logout">
              <span class="nav__text">Wyloguj</span>
            </a>
          </li>   
        </ul>
      </nav>
      
        
  </div>
  
  <form th:fragment="transaction_filters_form" class="form hidden">
  <fieldset>
    
    <label for="category" class="form__label">Kategoria </label>
    <select class="form__input" name="category" id="category">
      <option value=''>Wszystkie</option>
        {{#each categories}} 
           <option value='{{this._id}}' {{this.selected}} >{{this.name}}</option>
        {{/each}}
    </select>
    
    <label for="sort"  class="form__label">Sortuj</label>
    <select class="form__input" name="sort" id="sort">
      <option value='date-des'>data malejąco</option>
      <option value='date-asc'>data rosnąco</option>
      <option value='sum-asc'>kwota rosnąco</option>
      <option value='sum-des'>kwota malejąco</option>
    </select>
    
    <label for="range"  class="form__label">Zakres</label>
    <select class="form__input" name="range" id="range">
      {{!--<option value='this-week'>bieżący tydzień</option>--}}
      <option value='this-month'>ten miesiąc</option>
      {{!--<option value='last-3-months'>ostatnie 3 miesiace</option>--}}
    </select>

    <label for="description"  class="form__label">Opis</label>
    <input class="form__input" type="text" name="description" id="description" value="{{query.description}}" placeholder="wpisz coś">
    
    <button type="submit" class="form__input form__input--submit">Szukaj</button>
  </fieldset> 
    
</form>
    
   <script th:src="@{/index.js}" th:fragment="script"></script>
  </body>
</html>
